{% extends "blog-base.html" %}
{% block title %} Blog Entries {% endblock %}

{% block blognav %} 
<div class="navbar-collapse collapse justify-content-start">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="{{ url_for('drafts') }}">Drafts</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('create') }}">Create Entry</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('blog') }}">Log out</a></li>
  </ul>
</div>
{% endblock %}

{% block content_title %}{% if search %}Search "{{ search }}"{% else %}Blog entries{% endif %}{% endblock %}

{% block content %}
  {% for post in Blogpost %}
    <h3>
      <a href="{% if post.published == True %}{{ url_for('post')}}{% endif %}">
        {{ post.title }}
      </a>
    </h3>
    <p>Created {{ post.timestamp.strftime('%m/%d/%Y at %G:%I%p') }}</p>
  {% else %}
    <p>No entries have been created yet.</p>
  {% endfor %}
{% endblock %}
