{% extends "blog-base.html" %}
{% block title %} Blog Entries {% endblock %}

{% block blognav %} 
<div class="navbar-collapse collapse justify-content-start">
  <ul class="navbar-nav mr-auto">
    {% if current_user.is_authenticated %}
      <li class="nav-item"><a class="nav-link" href="{{ url_for('drafts') }}">Drafts</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('create') }}">Create Entry</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log out</a></li>
    {% endif %}
    </ul>
</div>
{% endblock %}

{% block content_title %}{% if search %}Search "{{ search }}"{% else %}Blog entries{% endif %}{% endblock %}

{% block content %}
  {% for post in posts %}
    <h3>
      <a href="{% if post.published %}{{ url_for('detail', slug=post.slug) }}{% else %} {% if drafts %} {{ url_for('edit', slug=post.slug) }}{% endif %} {% endif %}">
        {{ post.title }}
      </a>
    </h3>
    <p>Created {{ post.date_posted.strftime('%B %d, %Y') }}</p>
  {% else %}
    <p>No entries have been created yet.</p>
  {% endfor %}
{% endblock %}
