{% extends "blog-base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content_title %}{{ post.title }}{% endblock %}

{% block blognav %} 
<div class="navbar-collapse collapse justify-content-start">
  <ul class="navbar-nav mr-auto">
    {% if session.logged_in %}
      <li class="nav-item"><a class="nav-link" href="{{ url_for('drafts') }}">Drafts</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('create') }}">Create Entry</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log out</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('edit', slug=entry.slug) }}">Edit entry</a></li>
    {% endif %}
  </ul>
</div>
{% endblock %}

{% block content %}
  <p>Created {{ post.date_posted }}</p>
  {{ post.content | safe}}
{% endblock %}