<!doctype html5>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/site.css">
    <link rel="stylesheet" href="/static/css/fa.css">

    <title>{% block title %} {% endblock %}</title>

</head>

<body>
  <div class="container-fluid">

    <!-- Bootstrap Navigation Bar-->
    

      <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Journey</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/portfolio">Porfolio</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    

   </div>
    
   
   <main class="container-fluid" role="main">
    {% block background %} {% endblock %}
    {% block content %} {% endblock %}
   </main>
    

    <footer class="container-fluid text-center align-content-center footer pb-2">
      <div class="container pt-5">
        <div class="row text-left">
          <div class="col text-left">
            <h5>Contact me</h5>
              <li class="nav-item">
                <a class="smooth-scroll" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="smooth-scroll" href="/about">About me</a>
              </li>
              <li class="nav-item">
                <a class="smooth-scroll" href="/mylife">My Life</a>
              </li>
                <li class="nav-item"><a class="smooth-scroll" href="/myskills">My Skills</a>
                </li>
          </div>
        </div>
      </div>
    </footer>

    <!-- Boostrap Bundle with Popper-->
    <script src="/static/js/bootstrap.js"></script>
</body>
</html>