{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block background %} 
{% endblock %}

{% block homepage %}
 
<div class="background container-fluid">
  <div class="container">
    <div class="row h-100 align-items-center">
      <div class="col-md-12 text-center">
        <h1 class="fst-italic headline">Nihal Noor</h1>
        <h3 class="headline">Aspiring DevOps Engineer</h3>
        <div class="social">
          <ul class="social">
            <li style="padding-right: 0.5em;">
              <a href="https://www.linkedin.com/in/nihal-noor/" target="_blank">
                <i class="fab fa-linkedin fa-3x"></i>
              </a>
            </li>
            <li>
              <a href="https://www.github.com/lahinroon" target="_blank"> <i class="fab fa-github fa-3x"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
