{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block background %} 
{% endblock %}

{% block content %}

<!--<div class="container h-100">
  <div class="row h-100 justify-content-center">
      <h1 class="fst-italic">
        Nihal Noor
      </h1>
      <h2>
        Aspiring DevOps Engineer
      </h2>

  </div>
</div>
-->

 
<div class="background container-fluid">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-md-12 text-center">
        <h1 class="fst-italic headline">Nihal Noor</h1>
        <h3 class="headline">Aspiring DevOps Engineer</h3>
        <div class="social">
          <ul class="social">
            <li style="padding-right: 0.5em;">
              <a href="https://www.linkedin.com/in/nihal-noor/" target="_blank">
                <i class="fab fa-linkedin fa-3x"></i>
              </a>
            </li>
            <li>
              <a href="https://www.github.com/lahinroon" target="_blank"> <i class="fab fa-github fa-3x"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


<!--  
<div class="background container-fluid">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-md-12 text-center">
        <h1 class="fst-italic headline">Nihal Noor</h1>
        <h3 class="headline">Aspiring DevOps Engineer</h3>
        <div>
          <ul class="social">
            <li style="padding-right: 0.5em;"> 
              <a href="https://www.linkedin.com/in/nihal-noor/" target="_blank">
                <i class="fab fa-linkedin fa-3x"></i>
              </a>
            </li>
            <li>
              <a href="https://www.github.com/lahinroon" target="_blank"> <i class="fab fa-github fa-3x"></i> 
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>
</div> -->