<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            color: rgb(7, 21, 212);
            background-color: crimson;
        }
        p {
            color: darkgreen;
            background-color: darkgrey;
            margin: 25px;
            border: solid 1px darkorange;
        }
        .columns {
            border: solid 1px rgb(28, 25, 204);
            display: flex;
        }
        .columns > div {
            border: solid 1px #ddd;
            flex: 1; 
        }
    </style>
</head>
<body>
    <div class="columns">
        <div>Column 1</div>
        <div>Column 2</div>
        <div>Column 3</div>
    </div>
</body>
</html>