{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content_title %} About Me {% endblock %}
{% block content %}
<section class="content">
  <div style="text-align: center;">
    <img src="/static/img/graduation1.jpg" class="img-fluid" style="width: 50%; padding-bottom: 10px;">
  </div>
  <div>I am an experienced engineering professional that has a passion for learning, and an aspiration to be the best version of myself 
    to help people solve problems and engage in meaningful discourse. I have a Bachelors degree from Monash University where I majored in Electrical
    and Computer Systems engineering. Through my work and my learnings at university I have developed a keen interest in different technologies, and
    it is a goal of mine to continue to always be a student at heart, and continue the learning process. I also learnt the importance of having an
    altruistic spirit, and it is a value that drives me.
  </div>
  <div><br></div>
  <div>
    <div>I consider myself a global citizen. This is because I've lived in 3 different continents across the world for
      almost equal amounts of time. I was born and raised in the USA, went to middle school in India, and finished high
      school and college in Australia.</div>
    <div><br></div>
    <div>
      <div>My interest in technology only developed during my latter years of University. I've always loved Physics since
        I was in school, but I disliked doing research for academic purposes, and so I wasn't sure what I wanted to do
        with my career even after I graduated from college. It was during the coronavirus crisis of 2020 that I discovered
        what my true interests were. I had the time and opportunity to explore various technologies and gain exposure to
        things that I had never used before, like Amazon Web Services. Becoming more proficient at programming, and
        learning more about computer science and how companies leverage hybrid cloud models is fascinating to me. At this
        point, I'm still uncertain as to where I want to take my career, but I've been given the opportunity to find out,
        and that's what I intend to do.</div>
      <div><br></div>
      <div>Right now I am continuing to learn, and work towards my goals, and this website is part of my journey. Outside
        of professional development, I love playing games with friends, and I also enjoy reading manga (One Piece!!). I am
        also an avid watcher of the NBA, and love to go to the gym to keep my fitness levels up.</div>
    </div>
  </div>
</section>
{% endblock %}


